.GroupContainer {
    width: 100%;
    max-width: 900px;
}

.GroupContainerWrapper {
    display: flex;
    justify-content: center;
}

.groupList {
    margin-bottom: 15px;
    max-width: 100%;
}

.groupButtonCreate {
    margin-bottom: 15px;
}

.groupModalEdit {

}

.groupButtonEditContainer {
    display: flex;
    justify-content: end;
    margin: 0;
}

.groupButtonEditSave {
    margin-left: 6px;
}

.groupButtonEditCancel {

}