.createNotificationButton {
    margin-bottom: 5px;
}

.noNotification {
    font-size: 1.04rem;
    text-align: center;
}

@media (min-width: 455px) {
    .ant-tabs-nav-operations {
        display: none !important;
    }
}