.GroupItemContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.GroupTitle {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.15rem;
    flex-grow: 1;
    color: black;
}

.GroupButtonsContainer {
    display: flex;
    margin-left: 6px;
}

@media (max-width: 576px) {
    .GroupItemContainer {
        display: block;
    }

    .GroupTitle {
        overflow: unset;
        white-space: normal;
        overflow-wrap: break-word;
        margin-bottom: 3px;
        font-size: 1.05rem;
        display: block;
    }

    .GroupButtonsContainer {
        display: block;
        margin-left: 0;
    }
}

.GroupButtonDelete {
    background: #e12222 !important;
    margin-left: 6px;
}

.GroupButtonEdit {
    background: #e1a522 !important;
}